Repository Vault-Overseers/Vault-Overseers.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: English, Russian, Ukrainian, Scripts, Design

.github/labeler.yml:

"English":
- 'src/en/**'

"Russian":
- 'src/ru/**'

"Ukrainian":
- 'src/ua/**'

"Scripts":
- 'scripts/**'

# I have tried making this robust (tm) using wildcards so many times but github docs for the labeler SUUUUCK. If you got time to figure it out please do it I give up.
# Welcome to the mega labeler.
"Design":
# General design
- 'src/en/n14/core-design/**'

# Department design
- 'src/en/n14/departments/atmos/*'

update logo
  src/index.md
Labels: none

logo update test 2
  src/index.md
Labels: none

yaml basics
  src/en/n14/yaml-contributing/yaml-basics.md
Labels: English

loadout guide
  src/en/n14/yaml-contributing/adding-a-loadout.md
Labels: English

loadout summary tab
  src/SUMMARY.md
Labels: none

update formatting
  src/SUMMARY.md
Labels: none

fix error
  src/SUMMARY.md
Labels: none

yaml basics minor update
  src/en/n14/yaml-contributing/yaml-basics.md
Labels: English

IDE setup VSC written up
  src/en/n14/dev-setup/ides.md
Labels: English

adding music and sound
  src/SUMMARY.md
  src/en/n14/yaml-contributing/adding-music-and-sounds.md
Labels: English

adding guidebooks
  src/SUMMARY.md
  src/en/n14/yaml-contributing/adding-guidebooks.md
  src/en/n14/yaml-contributing/adding-music-and-sounds.md
Labels: English

adding a weapon update
  src/en/n14/yaml-contributing/adding-a-weapon.md
Labels: English

Update ides.md
  src/en/n14/dev-setup/ides.md
Labels: English

Update design-principles.md
  src/en/n14/core-design/design-principles.md
Labels: English, Design

update IDEs and Github page
  src/en/n14/dev-setup/github.md
  src/en/n14/dev-setup/ides.md
Labels: English

Update index.md
  src/index.md
Labels: none

Update deploy.yml to artifact v4
  .github/workflows/deploy.yml
Labels: none

Update deploy.yml v3
  .github/workflows/deploy.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

new 404, porting from SS13 guide, basic gamemode info.
  src/404.md
  src/SUMMARY.md
  src/en/assets/images/173.png
  src/en/assets/images/please-stand-by.jpg
  src/en/n14/art-contributing.md
  src/en/n14/core-design/gamemodes.md
  src/en/n14/porting-ss13.md
Labels: English, Design

Update yaml-contributing.md
  src/en/n14/yaml-contributing.md
Labels: English

Fix deploy job
  .github/workflows/deploy.yml
Labels: none
